@use '@angular/material' as mat;
@include mat.core();

// Custom theme imports
@import './theme/theme.scss';
@import './theme/custom-component-themes.scss';

@include mat.all-component-themes($light-theme);
@include custom-components-theme($light-theme);

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include custom-components-theme($dark-theme);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}